/* styles.css */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#dataForm {
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}